<div id="follow-icons">
	<a target="_blank" href="http://facebook.com/nicklasmjepsen" rel="me"><i class="fa fa-facebook-square fa-3x"></i></a>
	<a target="_blank" href="http://twitter.com/nmjepsen" rel="me"><i class="fa fa-twitter-square fa-3x"></i></a>
	<a target="_blank" href="https://dk.linkedin.com/in/nicklasmjepsen" rel="me"><i class="fa fa-linkedin-square fa-3x"></i></a>
	<a target="_blank" href="http://github.com/nicklasjepsen" rel="me"><i class="fa fa-github-square fa-3x"></i></a>
	<a target="_blank" href="http://plus.google.com/+NicklasMøllerJepsen" rel="author"><i class="fa fa-google-plus-square fa-3x"></i></a>
	<a target="_blank" href="{{ .Site.BaseURL }}index.xml" rel="me"><i class="fa fa-rss-square fa-3x"></i></a> 
</div>  